annotated-types
anyio
certifi
charset-normalizer
click
dnspython
fastapi
h11
idna
Jinja2
joblib
MarkupSafe
numpy
pandas
pydantic
pydantic_core
pymongo
python-dateutil
python-multipart
pytz
requests
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
tinydb
typing_extensions
tzdata
urllib3
uvicorn
